@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: rgb(8, 145, 8);
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: absolute;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: rgb(194, 39, 39);
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #e94040;
  min-height: 100%;
  width: 100vw;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  display: flex;
  align-items: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-top: 20%;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
label {
  visibility: hidden;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 45%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  border-radius: 5px;
  height: 30px;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: rgb(221, 221, 221);
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 20px 30px;
  width: 45%;
}

#restaurant-container {
  display: flex;
  flex-direction: column;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background: #754f4f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0a0909 0%, #0a0909 39px, #f9f9f9 39px);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #0a0909 0%,
    #0a0909 39px,
    #f9f9f9 39px
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #0a0909 0%,
    #0a0909 39px,
    #f9f9f9 39px
  );
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
  border-radius: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#reviews-list li > p:nth-child(1) {
  width: 50%;
  align-self: center;
  color: orange;
}
#reviews-list li > p:nth-child(2) {
  align-self: center;
  width: 50%;
  text-align: right;
  color: #ccc;
}
#reviews-list li > p:nth-child(3) {
  width: 100%;
  color: #f18200;
}
#restaurant-hours td {
  color: #666;
}
/* ====================== Media Query ====================== */
@media only screen and (max-width: 600px) {
  .inside {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .inside header {
    order: 0;
    width: 100vw;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  header nav {
    order: 0;
  }
  header #breadcrumb {
    order: 1;
    width: 100vw;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .inside #map-container {
    order: 2;
    top: 130px;
    position: relative;
    height: 300px;
    width: 100vw;
  }
  .inside #restaurant-container {
    order: 3;
    position: relative;
    width: 100vw;
    padding: 140px 5px 0 0;
    margin: auto;
    text-align: center;
  }
  .inside #reviews-container {
    width: 100vw;
    padding: 5px;
    margin: auto;
  }
  .inside #footer {
    order: 4;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }
  #reviews-list {
    width: 100vw;
  }
  #reviews-container h2 {
    text-align: center;
  }
  #restaurant-img {
    width: 90%;
    align-self: center;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    align-self: center;
  }
}